body{
  /*background: #304352;*/
  background: linear-gradient(to top, #304352, #d7d2cc);
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  color:  #5D605E;
  font-size: 20px;
  line-height: 2.4em;
  text-align: center;
}


a{
  color: #5D605E;
}

a:hover{
  color: #A1A7B2;
}

img {
    width:  125px;
    height: auto;
}

li {
  list-style: none;
  display: inline;
}

td {
  padding: 8px;
}

.text-center {
  text-align: center;
}

.container{
  width: 700px;
  margin: 20px auto;
}

.card{
  background: #AFC2C3;
  padding: 15px;
  box-shadow: 14px 16px 2px 0px rgba(82, 67, 67, 0);
  margin-bottom: 25px;
  border-radius: 5px;
}

.img-circle{
  border-radius: 25%;
}






